

/*ESTILOS GENERALES*/
body {
    background-image:url('./imagenes/signup-bg.jpg');
    background-size: 100%;
}

/*FORMULARIO*/
.container-fluid1{
    margin-top: 30px;
    height: 300px;
}

.btn-primary{
    border-radius: 2px;
    border: 1px solid green;
    width: 120px;
    padding: 3px;
    background-color: #70b231;
}